n8n-smart-crm-pipeline/Code.txt
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 15
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1JBZAkTRSmodIig3KSOSt2TSmt24xa0eSDQs0sG95djc",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JBZAkTRSmodIig3KSOSt2TSmt24xa0eSDQs0sG95djc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JBZAkTRSmodIig3KSOSt2TSmt24xa0eSDQs0sG95djc/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7f7cd59a-6afa-4e7b-b903-5ad2ef5231b8",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "Jj09N1omViLsbzzL",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2382fb8-57d2-44d0-869e-24e46cb720eb",
              "name": "DealValue",
              "value": "={{ Number($json.DealValue.toString().replace(/[^0-9.-]+/g,\"\")) }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "72f2d070-f7fb-4575-b2da-d371e3e24ceb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f3cdf648-6e92-47f4-b9d3-1e4e95315541",
              "leftValue": "={{ $json.DealValue }}",
              "rightValue": 1000,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "400c65c9-35fe-4f31-b5ca-816c91782985",
      "name": "If"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "text": "=🚀 New High-Value Lead! Name: {{ $json.Name }} Value: ${{ $json.DealValue }} Action: Please follow up immediately.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        672,
        -128
      ],
      "id": "3f2417e8-3382-4c60-ae75-eb09ef6c0ba5",
      "name": "Send a message",
      "webhookId": "3771de11-5e92-434a-9058-644359dcbd1a"
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f05f8eabcba2be2a882b43e822a7be79ea68df3dd036dabe4676ef64935bacf"
  }
}